html body {
    height: 100%;
    margin: 0%;
}

.main {
    padding-top: 150px;
    height: 100vh;
    background: url(../assets/intro-bg.png) no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
}

.main .container {
    padding: 50px 50px;
    background-color: #ededed;
}

.custom-control {
    padding: 0%;
}

.half-width {
    width: 50%;
}

* {box-sizing: border-box}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* Two-column layout */
.col-lg {
  float: left;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* Responsive layout - when the screen is less than 991px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 991px) {
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }

  .main .container {
    padding: 30px 0%;
  }

  .half-width {
      width: 360px;
  }

  .col-lg a {
    font-size: 1em;
  }
}