.col-md-3, .col-md-6 {
    margin-top: 50px;
}

.col-md-7 {
    margin-top: 100px;
}

.navbar-brand {
    padding: 10px 5px !important;
}

.nav-link {
    margin: 0% !important;
}

li {
    margin-bottom: 5px;
}

.bg-green {
    background-color: #45982c;
}

.icons a {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.icons a:hover {
    opacity: 0.7;
}