.col-md-3, .col-md-6, .col-md-4 {
    margin-top: 50px;
}

.navbar-brand {
    padding: 10px 5px !important;
}

.nav-link {
    margin: 0% !important;
}

li {
    margin-bottom: 5px;
}

.bg-green {
    background-color: #45982c;
}

.jumbotron-fluid {
    padding: 128px 0px;
    box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.2);
    background: url(../assets/sign.png) left no-repeat, linear-gradient(45deg,#ffe5b2,#f79124);
    background-size: contain;
}

.icons a {
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-google:hover {
    color: #dd4b39;
}

.fa-linkedin-in:hover {
    color: #007bb5;
}

#whyUs {
    box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.3);
    background: url('../assets/whyUs.jpg') no-repeat fixed;
    background-size: cover;
    color: #ffffff;
}

.info .col-md-4 {
    margin-top: 25px;
    font-size: 5em;
}