[class^='col-md-'] {
    margin: auto;
    margin-top: 50px;
}

.navbar-brand {
    padding: 10px 5px !important;
}

.nav-link {
    margin: 0% !important;
}

li {
    margin-bottom: 5px;
}

.jumbotron-fluid {
    background-color: #ffffff !important;
    border-top: 3px solid #dbdbdb; 
}

.bg-green {
    background-color: #45982c;
}